<div class="jumbotron jum-b">
    <div class="container">
        <h1>Over</h1>
        <p>Wat kun je met de kaart</p>
        <small>En over ons</small>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-8">
          <h1>Contact opnemen?</h1>
            <div class="well well-sm">
                <form>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Naam</label>
                            <input type="text" class="form-control" id="name" placeholder="Naam" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email-adres</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Voer uw emailadres in" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Onderwerp</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Kies uit:</option>
                                <option value="service">Vraag</option>
                                <option value="suggestions">Opmerking</option>
                                <option value="product">Toevoeging</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Verstuur bericht</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Ons kantoor</legend>
            <address>
                <strong>LSA Bewoners</strong><br>
                Adres 1<br>
                Utrecht<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
