<div class="jumbotron jum-b">
    <div class="container">
        <h1>Over deze kaart</h1>
    </div>
</div>
<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{about.curtitle}}</h4>
                </div>
                <div class="modal-body">
                    <img ng-src={{about.curimglink}} class="img-circle" alt="image" />
                    <div ng-bind-html="about.curfulltext">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <section id="services" class="current">
        <div class="services-top">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h2>Informatie over de buurtrechten</h2>
                        <hr>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 col-sm-4">
                        <img src="images/2.png" class="img-circle" alt="image" />
                        <h3>Beheer van voorzieningen</h3>
                        <div style="height:200px;max-height:200px;overflow:hidden" ng-bind-html="about.about[0].text1" data-ellipsis data-ellipsis-append="<a>Lees meer</a>"
                            data-ellipsis-append-click="about.showFullText(1)"></div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="images/3.png" class="img-circle" alt="image" />
                    <h3>Toegang tot geld</h3>
                    <div style="height:200px;max-height:200px;overflow:hidden" ng-bind-html="about.about[0].text2" data-ellipsis data-ellipsis-append="<a>Lees meer</a>"
                        data-ellipsis-append-click="about.showFullText(2)"></div>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="images/5.png" class="img-circle" alt="image" />
                <h3>Open Overheid</h3>
                <div style="height:200px;max-height:200px;overflow:hidden" ng-bind-html="about.about[0].text3" data-ellipsis data-ellipsis-append="<a>Lees meer</a>"
                    data-ellipsis-append-click="about.showFullText(3)"></div>
        </div>
</div>
<br><br>
<div class="row text-center">
    <div class="col-md-4 col-sm-4">
        <img src="images/4.png" class="img-circle" alt="image" />
        <h3>Zelfgekozen ondersteuning</h3>
        <div style="height:200px;max-height:200px;overflow:hidden" ng-bind-html="about.about[0].text4" data-ellipsis data-ellipsis-append="<a>Lees meer</a>"
            data-ellipsis-append-click="about.showFullText(4)"></div>
</div>
<div class="col-md-4 col-sm-4">
    <img src="images/5.png" class="img-circle" alt="image" />
    <h3>Maatschappelijk aanbesteden</h3>
    <div style="height:200px;max-height:200px;overflow:hidden" ng-bind-html="about.about[0].text5" data-ellipsis data-ellipsis-append="<a>Lees meer</a>"
        data-ellipsis-append-click="about.showFullText(5)"></div>
</div>
<div class="col-md-4 col-sm-4">
    <img src="images/6.png" class="img-circle" alt="image" />
    <h3>Plannen voor de buurt</h3>
    <div style="height:200px;max-height:200x;overflow:hidden" ng-bind-html="about.about[0].text6" data-ellipsis data-ellipsis-append="<a>Lees meer</a>"
        data-ellipsis-append-click="about.showFullText(3)"></div>
</div>
</div>
</div>
</div>
</section>
</div><br><br>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Contact opnemen?</h1>
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Naam</label>
                                <input type="text" ng-model='about.naamm' class="form-control" id="name" placeholder="Naam" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email-adres</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" ng-model='about.usemail' class="form-control" id="email" placeholder="Hoe bereiken we u" required="required"
                                    /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Onderwerp</label>
                                <select id="subject" ng-model='about.onderwerpp' name="subject" class="form-control" required="required">
                                    <option value="Geen soort gekozen" selected="">Kies uit:</option>
                                    <option value="Vraag">Vraag</option>
                                    <option value="Opmerking">Opmerking</option>
                                    <option value="Toevoeging">Toevoeging</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Bericht</label>
                                <textarea ng-model='about.berichtt' name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                    placeholder="Bericht"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" ng-click="about.contactuse()" class="btn btn-primary pull-right" id="btnContactUs">
                                Verstuur bericht</button>
                        </div>
                    </div>
                </form>
                <div ng-show="about.mailsend" class="alert alert-success">
                    <strong>Verstuurd!</strong> We proberen, indien nodig, zo spoedig mogelijk contact met u op te nemen.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend>
                    <span class="glyphicon glyphicon-globe"></span> Ons kantoor</legend>
                <address>
                    <strong>LSA Bewoners</strong><br> Korte Elisabethstraat 15-17<br> 3511 JG Utrecht<br>
                    <abbr title="Phone">
                        T:</abbr> 030-2317511
                </address>
                <address>
                    <a href="mailto:#">lsa@lsabewoners.nl</a>
                </address>
            </form>
        </div>
    </div>
</div>