<div class="container-fluid">
    <div id="totop" class="row">
        <img src="images/banner2.png" class="img-responsive" style="width:100%">
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>

    <div class="section" id="totop">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-5" id="viewgem">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Info</h3>
                        </div>
                        <script type="text/ng-template" id="selector/demo/browserWithURL">
                            {{option.label}}
                            <a class="small" ng-href="{{option.url}}" ng-bind="option.url"></a>
                        </script>

                        <script type="text/ng-template" id="selector/demo/browserWithIcon">
                            <img ng-src="{{option.icon}}">
                            {{option.label}}
                        </script>

                        <div class="panel-body">
                          <h4>Selectie buurtrecht</h4>
                          <select selector model="main.mappselect" change="main.onMapChange(newValue, oldValue)" options="main.mapps" value-attr="code" dropdown-item-template="'selector/demo/browserWithIcon'"></select>
                            <!--<p>
              <button ng-click="createDummyData()" class="btn btn-block btn-default">Test Data</button>
            </p>
            <div class="regionlist">
              <div ng-repeat="(key,gemeente) in dummyData">
                <div>{{key}}</div>
                <div>{{gemeente.value | number}}</div>
              </div>
            </div>-->

                            <h4>Zoeken op gemeente</h4>
                            <select selector change="main.onChangeFromList(newValue, oldValue)" model="main.currentgemeente" options="main.gemeenten" value-attr="value"></select>
                            <div style="float:right">
                                {{main.hovergemeente}}
                            </div>
                            <hr>

                        </div>

                        <div style='padding:20px;padding-top:0px'>
                            <h4>{{main.starttekst}}</h4>
                            <h2>{{main.curcur}}</h2>
                            <div ng-if="main.instrus.length">
                                <h4>Instrumenten die worden ingezet:</h4>
                                <div ng-repeat="instr in main.instrus">
                                    <a ng-click="main.showInstru(instr.id)" href="" scroll-to="#totop" offset="0" container="html, body">{{instr.name}}</a>
                                </div>
                            </div>
                            <p>
                                <div ng-bind-html="main.currentwysig"></div>
                            </p><hr>
                            <hr>
                            <div ng-if="main.images.length">
                                <h4>Afbeeldingen</h4>
                                <ng-image-gallery images="main.images" thumbnails="true" inline="false" img-bubbles="true" bg-close="true" bubbles="true"></ng-image-gallery>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-7">
                    <div ng-show="main.instruview">
                        <div class="row" style="margin-top:20px !important">
                            <div class="col-md-12">
                                <div class="box box-widget">
                                    <div class="box-header with-border">
                                        <div class="user-block">

                                            <span class="username">
                                                {{main.instrumentnaam}}
                                            </span>

                                        </div>
                                        <div class="box-tools">
                                            <button type="button" ng-click="main.hideInstru()">
                                                <i>Sluit/Terug naar kaart</i>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div ng-bind-html="main.instrumentwysig"></div>
                                        <div class="attachment-block clearfix">
                                            <div class="attachment-pushed">
                                                <h4 class="attachment-heading">
                                                    Wordt ingezet in:
                                                </h4>{{main.instrumentgemeenten}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <h5>__</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="main.loadingnow">
                        <h3>{{main.loadingtext}}</h3>
                    </div>
                    <div ng-show="!main.loadingnow">
                        <div ng-if="main.apiResp">
                            <img ng-show="main.fulllegenda" src="images/legendafull.png" style="position:absolute" class="img-responsive" alt="legendafull">
                            <img ng-show="!main.fulllegenda" src="images/legendapart.png" style="position:absolute" class="img-responsive" alt="legendafull">
                            <div svg-map scroll-to="#viewgem"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">

                <div class="row">

                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Laatst bijgewerkt</h3>
                                    <ul class="media-list main-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <a scroll-to="#viewgem" ng-click="main.lasteditclick(main.lastgemedit)"><h4 class="media-heading">{{main.lastgemedit}}</h4></a>
                                                <p class="by-author">{{main.lastgemedittime}}</p>
                                            </div>
                                            <div class="media-body">
                                                <a scroll-to="#viewgem" ng-click="main.lasteditclick(main.enalastgemedit)"><h4 class="media-heading">{{main.enalastgemedit}}</h4></a>
                                                <p class="by-author">{{main.enalastgemedittime}}</p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Willekeurig instrument</h3>
                                    <ul class="media-list main-list">
                                        <li class="media">

                                            <div class="media-body">
                                                <h4 class="media-heading">{{main.randinstrumentnaam}}</h4>
                                                <h5>Wordt ingezet in: {{main.randinstrumentgemeenten}}</h5>
                                                <p ng-bind-html="main.randinstrumentwysig" class="by-author"></p>

                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <footer class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Footer</h1>

                        </div>
                        <div class="col-sm-6">
                            <p class="text-info text-right"><br><br>Copyright © LSA Bewoners</p>

                        </div>
                    </div>
                </div>
            </footer>
