<div ng-show="minad.minn" class="section">
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Hier inloggen</h2>
            <code>User: Admin</code><br>
            <code>Password: goudvis</code>
            <hr>
            <input ng-model="minad.user" type="text" class="form-control" name="username" placeholder="Gebruikersnaam" required="" autofocus=""/>
            <input ng-model="minad.userpw" type="password" class="form-control" name="password" placeholder="Wachtwoord" required=""/>
            {{minad.wrongpwtext}}
            <button class="btn btn-lg btn-dangerbtn-block" ng-click="minad.inlogger()" type="submit">Inloggen</button>
        </form>
    </div>
</div>

<div ng-show="minad.minnn" class="section">

    <div class="col-md-12">
        <div class="jumbotron jum-b" style="margin-bottom:0px">

            <h1>ADMIN</h1>
            <small>Voor het aanpassen van de kaart</small>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Menu ->
                </h3>
                <span class="pull-right">
                    <!-- Tabs -->
                    <ul class="nav panel-tabs">
                        <li class="active">
                            <a data-target="#tab2" data-toggle="tab">Kaart</a>
                        </li>
                        <li >
                            <a data-target="#tab3" data-toggle="tab">Instrumenten</a>
                        </li>
                        <li>
                            <a data-target="#tab1" data-toggle="tab">Info</a>
                        </li>
                        <li>
                            <a data-target="#tab4" data-toggle="tab">Instellingen</a>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <div class="panel-body inf-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="images/lsalogo.png" data-original-title="Usuario">

                                </div>
                                <div class="col-md-6">
                                    <strong>Informatie</strong><br>
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-responsive table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            AppID
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        123456789
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Username
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        ..
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                            Role
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        Admin
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        noreply@email.com
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                            created
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        1 okt 2016
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                            Modified
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        1 okt 2016
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tab2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-7">

                                    <div ng-show="minad.loadingnow">
                                        <h3>{{minad.loadingtext}}</h3>
                                    </div>
                                    <div ng-show="!minad.loadingnow">
                                        <div ng-if="minad.apiResp">
                                            <div svg-map></div>
                                        </div>
                                    </div>
                                    <div ng-if="minad.gemeenteactive" class="panel panel-danger">
                                        <div class="panel-heading">Fotobak Gemeente
                                            {{minad.currentgemeente}}</div>
                                        <div class="panel-body">
                                            Hier kunnen foto's voor een gemeente toegevoegd en/of verwijderd worden.</div>

                                        <form style="padding-left:20px">
                                            <div class="form-group">
                                                <legend>Upload nieuwe afbeelding</legend>
                                            </div>
                                            <div class="form-group">
                                                <div class="btn btn-info" type="file" ngf-select ng-model="minad.file" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 1000}">Selecteer bestand</div>
                                            </div>
                                            <div ng-if="minad.file.$ngfName">
                                                <div class="form-group">Titel voor afbeelding:
                                                    <input type="text" ng-model="minad.afbtitel"></div>
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-primary" ng-click="minad.uploadprep('gemeente')">Opslaan</button>
                                            </div>
                                            <div class="form-group">
                                                <legend>Verwijder afbeeldingen</legend>
                                            </div>
                                        </form>

                                        <div class="row">

                                            <div ng-repeat="photo in minad.photoArray" class="col-xs-12 col-sm-12 col-md-3">
                                                <div class="thumbnail">
                                                    <img ng-src="{{photo.location}}" alt="">
                                                    <div class="caption">
                                                        <p>
                                                            <a ng-click="minad.delPhoto(photo.id)" class="btn btn-warning btn-xs" role="button">Verwijder</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">Selectie</div>
                                        <div class="panel-body">
                                            <h4>Lijst select - (Met suggestie)</h4>
                                            <div class="form-group">
                                                <select selector change="minad.onChangeFromList(newValue, oldValue)" model="minad.currentgemeente" options="minad.gemeenten" value-attr="value"></select>
                                            </div>
                                            <ol class="breadcrumb">
                                                <li>
                                                    <a href="#">Gemeente</a>
                                                </li>

                                                <li class="active">Instrument</li>
                                            </ol>
                                            <div style="float:right">
                                                {{minad.hovergemeente}}
                                            </div>
                                            <h2>{{minad.currentgemeente}}</h2>
                                        </div>
                                        <div class="panel-heading">Tekst
                                            {{minad.currentgemeente}}</div>
                                        <textarea ui-tinymce="minad.tinymceOptions" ng-model="minad.tinymceModel"></textarea>
                                        <hr>

                                        <div class="panel-heading">Buurtrechten toewijzen</div>
                                        <div class="panel-body">
                                            <div class="checkbox" ng-repeat="(checkboxx,enabled) in minad.brechtcheckboxes">
                                                <label>
                                                    <input type="checkbox" ng-model="minad.brechtcheckboxes[checkboxx]"/>
                                                    <h5>{{checkboxx}}</h5>
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary center-block" type="submit" ng-click="minad.updateGemeenten()">Opslaan</button>
                                        </div>

                                    </div>

                                    <!--<p>
                                    <button ng-click="createDummyData()" class="btn btn-block btn-default">Test Data</button>
                                  </p>
                                  <div class="regionlist">
                                    <div ng-repeat="(key,gemeente) in dummyData">
                                      <div>{{key}}</div>
                                      <div>{{gemeente.value | number}}</div>
                                    </div>
                                  </div>-->

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="container">
                            <div ng-show="!minad.editinstru">

                                <div ng-if='minad.instrumenten'>
                                    <table ng-table="minad.tableParams" class="table" show-filter="true">
                                        <tr ng-repeat="user in $data">
                                            <td title="'Naam instrument'" filter="{ name: 'text'}" sortable="'name'">
                                                {{user.name}}</td>

                                            <td title="'Handelingen'">
                                                <button ng-click="minad.goeditInstru(user.id)" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button ng-click="minad.delInstru(user.id)" class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                Of ....
                                <br><br>
                                <button class="btn btn-primary" ng-click="minad.goInstruEdit()">
                                    Voeg een nieuw instrument toe
                                </button>
                            </div>
                        </div>

                        <div class="row" ng-show="minad.editinstru">
                            <div class="container">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>Maak/verander instrumenten</legend>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Titel</label>
                                            <div class="col-md-6">
                                                <input id="textinput" ng-model="minad.instruName" name="textinput" type="text" placeholder="Titel" class="form-control input-md" required="">
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Tekst edit</label>
                                            <div class="col-md-6">
                                                <textarea ui-tinymce="minad.tinymceOptions" ng-model="minad.tinymceModelinstru"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Gekoppelde gemeenten</label>
                                            <div class="col-md-6">
                                                <select selector multi="true" model="minad.instrugems" options="minad.gemeenten" value-attr="value"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Koppeling buurtrecht</label>
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="chickenEgg" value="1" ng-model="minad.instrulink">
                                                        Buurtrecht 1
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="chickenEgg" value="2" ng-model="minad.instrulink">
                                                        Buurtrecht 2
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="chickenEgg" value="3" ng-model="minad.instrulink">
                                                        Buurtrecht 3
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="chickenEgg" value="4" ng-model="minad.instrulink">
                                                        Buurtrecht 4
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="chickenEgg" value="5" ng-model="minad.instrulink">
                                                        Buurtrecht 5
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="chickenEgg" value="6" ng-model="minad.instrulink">
                                                        Buurtrecht 6
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="submitButton"></label>
                                            <div class="col-md-8">
                                                <button id="submitButton" ng-click="minad.editInstru()" name="submitButton" class="btn btn-success">Opslaan</button>
                                                <button class="btn btn-primary" ng-click="minad.goInstruEdit()">
                                                    Annuleer
                                                </button>

                                            </div>
                                        </div>
                                    </fieldset>

                                </form>

                                <!--<div class="panel-heading">Fotobak Gemeente
                                    {{minad.currentgemeente}}</div>
                                <div class="panel-body">
                                    Hier kunnen foto's voor een gemeente toegevoegd en/of verwijderd worden.</div>

                                <form style="padding-left:20px">
                                    <div class="form-group">
                                        <legend>Upload nieuwe afbeelding</legend>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn btn-info" type="file" ngf-select ng-model="minad.file" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 1000}">Selecteer bestand</div>
                                    </div>
                                    <div ng-if="minad.file.$ngfName">
                                        <div class="form-group">Titel voor afbeelding:
                                            <input type="text" ng-model="minad.afbtitel"></div>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary" ng-click="minad.uploadprep('instrument')">Opslaan</button>
                                    </div>
                                    <div class="form-group">
                                        <legend>Verwijder afbeeldingen</legend>
                                    </div>
                                </form>
                                <div class="row">
                                    <div ng-repeat="photo in minad.photoArray" class="col-xs-12 col-sm-12 col-md-3">
                                        <div class="thumbnail">
                                            <img ng-src="{{photo.location}}" alt="">
                                            <div class="caption">
                                                <p>
                                                    <a href="#" class="btn btn-warning btn-xs" role="button">Verwijder</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div class="container">
                            <div class="row">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>Basis instellingen/ Extra functionaliteit</legend>
                                        <p>
                                            Hier kunnen we zaken zoals het email adres veranderen waar de contactmail verstuurd naar zal worden, evenals bijv het wijzigen van het wachtwoord, nieuws bericht aanpassen.
                                        </p>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Naam</label>
                                            <div class="col-md-6">
                                                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="color">E-mail</label>
                                            <div class="col-md-6">
                                                <input id="color" name="email" type="email" placeholder="voorbeeld@voorbeeld.nl" class="form-control input-md">
                                            </div>
                                        </div>

                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="notification"></label>
                                            <div class="col-md-4">
                                                <label class="checkbox-inline" for="notification-0">
                                                    <input type="checkbox" name="notification" id="notification-0" value="1">
                                                    Voorbeeld checkbox
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Select Basic -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="threshold">Optie menu</label>
                                            <div class="col-md-4">
                                                <select id="threshold" name="threshold" class="form-control">
                                                    <option value="1">Optie 1</option>
                                                    <option value="2">Optie 2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Multiple Radios (inline) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="reqType">Request Type</label>
                                            <div class="col-md-4">
                                                <label class="radio-inline" for="reqType-0">
                                                    <input type="radio" name="reqType" id="reqType-0" value="post" checked="checked">
                                                    POST
                                                </label>
                                                <label class="radio-inline" for="reqType-1">
                                                    <input type="radio" name="reqType" id="reqType-1" value="get">
                                                    GET
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Multiple Radios (inline) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="dataFormat">Data Format</label>
                                            <div class="col-md-4">
                                                <label class="radio-inline" for="dataFormat-0">
                                                    <input type="radio" name="dataFormat" id="dataFormat-0" value="json" checked="checked">
                                                    JSON
                                                </label>
                                                <label class="radio-inline" for="dataFormat-1">
                                                    <input type="radio" name="dataFormat" id="dataFormat-1" value="xml">
                                                    XML
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="appendUrlParams"></label>
                                            <div class="col-md-4">
                                                <label class="checkbox-inline" for="appendUrlParams-0">
                                                    <input type="checkbox" name="appendUrlParams" id="appendUrlParams-0" value="1">
                                                    Append URL Params
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="submitButton"></label>
                                            <div class="col-md-8">
                                                <button id="submitButton" name="submitButton" class="btn btn-success">Save</button>
                                                <button id="cancel" name="cancel" class="btn btn-inverse">Cancel</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
